/* ##Import Fonts */

@font-face {
    font-family: "arno";
    font-weight: 400;
    font-style: none;
    src: url(fonts/arno/ArnoPro-Regular.otf);
}

@font-face {
    font-family: "arno";
    font-weight: 600;
    src: url(fonts/arno/ArnoPro-Smbd.otf);
}

@font-face {
    font-family: "arno";
    font-weight: 400;
    font-style: italic;
    src: url(fonts/arno/ArnoPro-Italic.otf);
}

@font-face {
    font-family: "arno-disp";
    font-weight: 400;
    src: url(fonts/arno/ArnoPro-Display.otf);
}

@font-face {
    font-family: "helvetica-neue";
    font-weight: 300;
    src: url(fonts/arno/HelveticaNeueLTStd-Lt.otf);
}

@font-face {
    font-family: "helvetica-neue";
    font-weight: 300;
    font-style: italic;
    src: url(fonts/arno/HelveticaNeueLTStd-LtIt.otf);
}

@font-face {
    font-family: "helvetica-neue";
    font-weight: 500;
    src: url(fonts/arno/HelveticaNeueLTStd-Md.otf);
}