.slick-dots li{
  margin:0;
  padding:0;
}

.slick-dots li button:before
{

    position: absolute;
    top: 1em;
    left: 0;
    bottom: 4em;

    width: 1.5em;
    height: 1.5em;

    content: '';
    opacity: 1;
    border: 1px solid #c1c1c1;
    border-radius: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    background-color: #c1c1c1;
}