h1 {
	@include heading(3em)
}

h2 {
	@include heading(2em);
	font-weight: bold;
}

h3 {
	@include heading(1.4em);
	font-weight: bold;
}

h4 {
	@include heading(1em)
}

h5 {
	@include paragraph(1em);
	color: $secondary-font-color;
}

h6 {
	@include paragraph(0.8em);
	color: #eee;
}

p.first{
	@include heading(1.4em);
}

p {
	@include paragraph(1em);
}