.container {
	display: grid;
	width: 100vw;
	height: 100vh;
	margin: auto;
	grid-template-columns: 5fr 2.5fr 5fr 10em 30em 5fr;
	grid-template-rows: 10em 10em 5fr 2fr 1em;
}

header {
	z-index: 10;
	position: absolute;
	display: flex;
	align-items: center;
	width: 100%;
	height: 4em;
	justify-content: space-between;
	nav {
		padding-right: 2em;
	}
	ul li {
		display: inline-block;
		padding: 0.75em;
		text-align: right;
		a {
			color: #000;
			text-decoration: none;
			font-family: $paragraph-font-stack;
		}
	}
}

aside {
	grid-column: 1 / span 2;
	grid-row-start: 1;
	grid-row-end: last-line;
	background-color: #000000;
}

.feature-image-caption {
	z-index: 3;
	display: inline-block;
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
	h6 {
		text-align: right;
		transform: rotate(270deg) translateY(-2em);
		transform-origin: 100% 0%;
		white-space:nowrap;
		overflow: hidden;
		letter-spacing: 0.125em;
	}
}

div.feature-image {
	grid-column: 2 / span 2;
	grid-row: 2 / span 2;
	z-index: 2;
	background: url("https://images.unsplash.com/photo-1501014407402-5d97e2a54be0?ixlib=rb-0.3.5&s=7a4171d0c664e817d7e8b228de9efb5b&auto=format&fit=crop&w=2434&q=80");
	background-size: cover;
	background-position: center;
}

main {
	grid-column: 5 / span 1;
	grid-row-start: 1;
}

div.heading {
	display:flex;
	height: 100%;
	* {
		align-self: flex-end;
	}
}